/*
p {
  color: purple;
} */
body{
  background-color:#f4f4f4;
}
p{
  color:#6b4b4b;
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 0.8em;
  text-align:left;
}
.italic {
  font-style: italic;
}

h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 2.0em;
  color:#a92a2a;
}


#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  list-style-type:none;
  padding: 0;
}
#nav li {
  margin: 0;
  padding: 0;
}

.navigation {
  list-style: none;
	margin: 0;
	background: #6f0000;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
  text-align:center;
  padding: 10px;
  border-bottom:1px solid white;
  font-family: "Roboto", Helvetica, sans-serif;
}

/*#nav a:hover, #nav a:active {
  background-color:#eacaca;
}*/

.caption {
    color:#6b4b4b;
    font-family: 'Yellowtail', cursive;
    font-size: 1.0em;
    margin-top: 0;
    text-align: right;
}
  #footer{
    color: #6f0000;
    font-family: 'Noto Serif', Georgia, serif;
    font-size: 0.6em;
    border-top: 1px solid #6f0000;
  }

img{
  width: 100%;
}

.aside-1 {
  background: white;
}

.aside-2 {
  background: white;
}

header, article, footer {
  flex: 1 100%;
  padding: 10px;
}

@media (min-width: 800px) {

  .navigation {
      flex-flow: row wrap;
      justify-content: flex-end;
  }
  .navigation a {
    border:none;
  }

  .navigation a:hover {
    background: #eacaca;
  }

  .wrapper {
      display: flex;
      flex-flow: row wrap;
  }
  .image {
      width: 45%;
      margin-left: 10px;
      float: right;
  }
  
  .story {
      width: 45%;
  }

  .first {
      margin-top: 0;
  }

  article {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
  }

}
