/*
p {
  color: purple;
} */
body{
  background-color:#f4f4f4;
}
p{
  color:#6b4b4b;
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 0.8em;
  text-align:left;
}
.italic {
  font-style: italic;
}

h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 2.0em;
  color:#a92a2a;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  list-style-type:none;
  padding: 0;
}
#nav li {
  margin: 0;
  padding: 0;
}

#nav a:link, #nav a:visited {
color:White;
background-color:#6f0000;
font-weight: bold;
display: block;
text-decoration: none;
text-align: center;
font-family: "Roboto", Helvetica, sans-serif;
padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color:#eacaca;
}

.caption {
    color:#6b4b4b;
    font-family: 'Yellowtail', cursive;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}
  #footer{
    color: #6f0000;
    font-family: 'Noto Serif', Georgia, serif;
    font-size: 0.6em;
    border-top: 1px solid #6f0000;
  }
img{
  border:none;
}
